html,
body,
#viewDiv {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  position: relative;
}

.leaflet-control {
  position: relative;
  z-index: 7;
  pointer-events: auto
}

.leaflet-control {
  float: left;
  clear: both
}

.leaflet-right .leaflet-control {
  float: right
}

.leaflet-bottom .leaflet-control {
  margin-bottom: 10px
}

.leaflet-right .leaflet-control {
  margin-right: 10px
}

.w-icon {
  width: 60px;
  height: 60px;
  margin-bottom: -15px;
}

.esri-popup__main-container {
  width: 500px !important;
  max-height: none !important;
}
#layerDiv {
  position: absolute;
  top: 90px;  /* Ajusta estos valores según donde quieras que aparezca la lista desplegable */
  left: 10px;
}

#layerSelect {
  text-align: center;
    overflow: hidden;
    white-space: nowrap;
    padding: 5px;
    font-size: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
    background-color: #f8f8f8;
    color: #333;
}