
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Poppins', sans-serif;
    color: #07DE99;
    margin: 0;
    padding: 0;
    overflow: hidden; 
}
#bg-video {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translateX(-50%) translateY(-50%);
}

.container{
    padding: 20px 70px;
    color: white;
}

.current-info{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: flex-start; /* Alinear elementos al principio */
}

.date-container{
    font-weight: 100;
}

.date-container .time{
    font-size: 70px;
    font-weight: 100;
}

.date-container #am-pm{
    font-size: 30px;
    margin-left: 20px;
}

.date-container .date{
    font-size: 30px;
}

.place-container{
    text-align: end;
}

.place-container .time-zone{
    font-size: 30px;
    font-weight: 100;
}

.place-container .country{
    font-size: 12px;
    font-weight: 700;
}

.current-info .others{
    display: flex;
    flex-direction: column;
    background: rgba(249, 199, 168, 0.6);
    padding: 20px;
    border-radius: 10px;
    margin: 10px 0; 
    border: 2px solid #eee;
}   

.current-info .others .weather-item{
    display: flex;
    justify-content: space-between;
}
.current-info .others .weather-item1{
    margin-top: -35px;
    margin-bottom: -20px;
    display: flex;
    justify-content: center;
}

.future-forecast{
    background: rgba(24, 24, 27, 0.8);
    padding: 15px;
    position: fixed;
    bottom: 0;
    display: flex;
    color: white;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.future-forecast .today{
    display: flex;
    align-items: center;
    justify-content: center;
}

.future-forecast .today .day{
    padding: 5px 15px;
    background: #3c3c44;
    border-radius: 50px;
    text-align: center;
}

.future-forecast .today .temp{
    font-size: 20px;
    padding-top: 15px;
}

.future-forecast .weather-forecast{
    display: flex;

}

.weather-forecast .weather-forecast-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 10px;
    border: 1px solid #eee;
    border-radius: 10px;
    padding: 15px;
    width: 170px;
    height: 255px;
}

.weather-forecast .weather-forecast-item .day{
    padding: 5px 15px;
    background: #3c3c44;
    border-radius: 50px;
    text-align: center;
}


#openweathermap-widget-11{
position: fixed; /* Posición fija para que el widget se mantenga en su lugar */
  top: 20px; /* Ajusta la distancia desde la parte superior según tus preferencias */
  right: 20px; /* Ajusta la distancia desde el lado derecho según tus preferencias */
  z-index: 9999; 
}

.weather-forecast .weather-forecast-item .temp{
    font-weight: 100;
}

@media only screen and (max-width:730px){

    .container{
        padding: 20px;
    }

    .future-forecast{
        justify-content: start;
        align-items: none;
        overflow-y: scroll;
    }

    .future-forecast .today .temp{
        font-size: 23px;
    }

    .date-container .time{
        font-size: 50px;
    }

    .date-container #am-pm{
        font-size: 20px;
    }

    .date-container .date{
        font-size: 20px;
    }

    .place-container{
        text-align: end;
        margin-top: 15px;
    }

    .place-container .time-zone{
        font-size: 20px;
    }

    .current-info .others{
        padding: 12px;
    }

    .current-info .others .weather-item{
        font-size: 14px;
    }

}

.air-pollution-panel {
    margin-left: -400px; /* Agrega separación entre place-container y air-pollution-panel */
    margin-top: 165px;
    background-color: rgba(249, 199, 168, 0.6); 
    border: 2px solid #eee; /* Mismo borde que place-container */
    border-radius: 10px; /* Mismo radioo  que place-container */
    padding: 10px; /* Agrega un poco de espaciado interno */
  }
  
  .panel-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.1);
    cursor: pointer;
  }
  
  .toggle-button {
    background-color: transparent;
    border: none;
    font-size: 20px;
    cursor: pointer;
  }
  
  .panel-content {
    padding: 10px;
    overflow-y: auto;
    max-height: 0;
    transition: max-height 0.3s ease-in-out;
  }
  
  .air-pollution-panel.open .panel-content {
    max-height: 150px;
  }
  
  .air-pollution-panel.open .toggle-button {
    transform: rotate(45deg);
  }

  @media only screen and (max-width: 1400px){
    .future-forecast{
        justify-content: start;
        align-items: none;
        overflow-x: scroll;
    }
}

button {
    background-color: #121035; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
}
.settings-icon {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 24px;
    cursor: pointer;
    color: #f3f8f6; 
    transition: transform 0.3s ease; 
}

.settings-icon:hover {
    transform: rotate(90deg); 
}

.settings-menu {
    position: absolute;
    top: 60px;
    right: 20px;
    background-color: rgba(24, 24, 27, 0.8); 
    border: 2px solid #f4f7f6; 
    border-radius: 10px;
    padding: 20px;
    display: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    color: #fff;
    max-width: 200px; 
}

.settings-menu.show {
    display: block;
}

.settings-menu select {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: none;
    border-radius: 4px;
    background-color: rgba(249, 199, 168, 0.6); 
}

.settings-menu select:focus {
    outline: none; 
    box-shadow: 0 0 5px rgba(159, 162, 161, 0.5); 
}
body {
    overflow: hidden;
}

.size-normal {
    font-size: 1rem;
  }
  
  .size-large {
    font-size: 1.3rem;
  }
  
  .size-small {
    font-size: 0.7rem;
  }
  /*Menu vertical inicio*/
  .menu-vertical {
    position: relative;
    display: inline-block;
}

.menu-btn {
    background-color: #121035;
    color: white;
    padding: 15px 32px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}

.menu-contenido {
    display: none;
    position: absolute;
    background-color: rgba(24, 24, 27, 0.8);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 4px;
}

.menu-contenido a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.menu-contenido a:hover {
    background-color: #121035;
    border-radius: 4px;
}

.menu-vertical:hover .menu-contenido {
    display: block;
}

.menu-vertical:hover .menu-btn {
    background-color: #121035;
}
  /*Menu vertical Fin*/

  .outdoor-activities-panel {
    margin-left: -400px;
    margin-top: 160px;
    background-color: rgba(249, 199, 168, 0.6); 
    border: 2px solid #eee;
    border-radius: 10px;
    padding: 10px;
}

.panel-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.toggle-button {
    background-color: transparent;
    border: none;
    font-size: 20px;
    cursor: pointer;
}

.panel-content {
    padding: 10px;
    overflow-y: auto;
    max-height: 0;
    transition: max-height 0.3s ease-in-out;
}

.outdoor-activities-panel.open .panel-content {
    max-height: 150px;
}

.outdoor-activities-panel.open .toggle-button {
    transform: rotate(45deg);
}
